body {
	margin: 0;
	padding: 0;
}
.flexbox {
	display: flex;
	flex-direction: column;
}
.shapka {
	background-color: yellow;
	height: 100px;
	margin: 0px 0px 70px 0px;
}
.shapka img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main {
	display: flex;
	margin: 0px 0px 50px 0px;
}
.left {
    height: 500px;
	margin: 0px 25px 0px 0px;
	flex: 0 1 25%;
	background-image: url(images/hohoho.png);
}
.right {
	flex: 1 1 auto;
}
.title {
	background-color: orange;
    font-size: calc(44px + 16 * ((100vw - 1280px) / (1280 - 320)));
	background: url("images/last.jpg") center / cover no-repeat;
	color: red;
	height: 250px;
    align-items: center;
	justify-content: center;
	margin: 0px 0px 50px 0px;
	display: flex;
	text-align: center;
}
.h1 {
	margin: 0px 0px 20px 0px;
}
.item {
	display: flex;
}
.h2 {
	flex: 0 1 33.333%;
	background-color: white;
	margin-right: 20px;
}
.h2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.h2:last-child {
	margin-right: 0px;
}
.podval {
	background-color: black;
	height: 100px;
}
.podval img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
